@charset "utf-8";
@import "~bulma/bulma";

html, body {
  height: 100%;

  font-family: "Montserrat", sans-serif;
}

.bottom-button {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  border-radius: 0;
  height: 20%;
  font-size: 2rem;
}